@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}


.elegant {
  height: auto;
  background: linear-gradient(to bottom, rgba(195, 97, 108, 0.95), rgba(230, 129, 21, 0.95)), url("/bg1.jpg");
  background-size: contain;
  padding-bottom: 100px;
  overflow: auto;
}

.hamburger {
  display: none;

}

.nav-bar {
  display: flex;
  list-style: none;
  column-gap: 18px;
  color: white;
  padding-top: 10px;
  font-size: 13px;
  padding-right: 15%;
}

.nav-image {
  padding-left: 22%;
  padding-right: 35%;
}

.nav-link {
  text-decoration: none;
  color: white;
}

.active,
.nav-link:hover {
  color: orange;
}

.description {
  display: flex;
  flex-direction: column;
  row-gap: 15px;
  max-width: 550px;
  margin: 0 auto;
  width: 50%;
  padding-top: 120px;
}


.description-heading {
  color: white;
  font-size: 30px;
  line-height: 37px;
}

.description-content {
  color: white;
  font-size: 12px;
  font-weight: 500;
  text-align: center;
  padding-bottom: 20px;
}

.description-btn {
  background-color: rgb(171, 47, 82);
  color: white;
  border: none;
  outline: none;
  border-radius: 30px;
  width: 130px;
  padding: 10px 0;
  margin: auto;
  font-size: 12px;
}

.description-btn:hover {
  cursor: pointer;
  background-color: #640707;
}



.work {
  padding: 80px 22% 50px 22%;
  background-color: white;
  height: auto;
  padding: 80px 22% 50px 22%;
}

.work-heading {
  color: rgb(171, 47, 82);
  text-align: center;
  font-size: 30px;
  font-weight: 200;
  padding-bottom: 15px;
}

.work-description {
  color: rgb(163, 163, 163);
  text-align: center;
  font-size: 12px;
  padding-left: 100px;
  padding-right: 100px;
  padding-bottom: 20px;
}

.conquer {
  padding-top: 40px;

}

.conquer-quote {
  color: orange;
  font-size: 13px;
  width: 50%;
  font-weight: 700;

}

.conquer-description {
  padding-top: 10px;
  color: rgb(168, 163, 163);
  font-size: 13px;
  width: 50%;
  padding-bottom: 25px;
  font-weight: 300;
}

.about-image {
  float: right;
  width: 45%;
  object-fit: cover;
}

.learn-button {
  cursor: pointer;
  background: rgb(255, 175, 83);
  color: white;
  border: none;
  padding: 8px 10px;
  display: inline-block;
}

i {
  margin-left: 0px;
}



.services {
  background-color: rgba(158, 150, 150, 0.171);
  padding-top: 80px;
  padding-left: 22%;
  padding-right: 22%;
  height: auto;
}

.services1 {
  background-color: rgba(158, 150, 150, 0.171);
  padding-top: 30px;
  padding-left: 22%;
  padding-right: 22%;
  height: auto;
  padding-bottom: 30px;
}

.services-section {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  padding-top: 30px;
  column-gap: 20px;
  row-gap: 20px;
}

.service-tab {
  background-color: white;
  width: 31%;
  text-align: center;
  padding: 40px 20px;
}

.services-heading {
  font-weight: bold;
  font-size: 15px;
  padding-bottom: 10px;
  padding-top: 10px;
}

.under-tiles {
  height: 1px;
  background-color: black;
  width: 60px;
  margin: 0 auto;

}

.service-description {
  padding-top: 10px;
  color: rgb(165, 165, 165);
  font-size: 12px;
  row-gap: 13px;
}

.service-icon {
  color: orange;
  font-size: 35px
}

.recent-work {
  padding-top: 80px;
  padding-left: 22%;
  padding-right: 22%;
  background-color: white;
  padding-bottom: 50px;
}

.image-gallery {
  font-size: 0;
  padding-bottom: 80px;
}

.images {
  width: 33%;
}

.review {
  padding: 50px 22% 30px 22%;
  background-size: contain;
  background-color: rgba(0, 0, 0, 0.9);
}

.color {
  background-image: url('bg1.jpg');
  background-size: contain;
}


.review-content {
  text-align: center;
  padding-top: 30px;
  color: white;
  padding-right: 10%;
  padding-left: 10%;
}

.review-description {
  color: white;
  padding: 20px 7%;
  font-size: 12px;

}

.author {
  row-gap: -12px;
}

.review-author {
  color: orange;
  font-size: 12px;
}

.author-description {
  font-size: 12px;
}

.dotting {
  padding-top: 10px;
}

.first-dot {
  height: 8px;
  width: 8px;
  margin-right: 7px;
  background-color: rgb(171, 47, 82);
  border-radius: 50%;
  display: inline-block;
}

.dot {
  height: 8px;
  width: 8px;
  margin-right: 7px;
  background-color: white;
  border-radius: 50%;
  display: inline-block;
}

.contact {
  padding-top: 80px;
  padding-left: 22%;
  padding-right: 22%;
  background-color: white;
  height: auto;
  padding-bottom: 80px;
}

.contact-information {
  width: 30%;
  padding-top: 30px;
}

.contact-number {
  color: gray;
  font-size: 12px;
  padding-left: 10px;
}

.contact-title {
  padding-left: 30px;
}

.contact-card {
  padding: 10px;
}

.contact-form {
  float: right;
  width: 50%;
  padding-top: 30px;
  display: flex;
  flex-direction: column;
}

.contact-description {
  padding-top: 30px;
}

.form-fields-first {
  padding-bottom: 7px;
  margin-bottom: 30px;
  width: 49%;
  background: transparent;
  border: none;
  border-bottom: 1px solid black;
  font-size: 12px;

}

.form-fields-second {
  padding-bottom: 7px;
  margin-bottom: 30px;
  width: 100%;
  background: transparent;
  border: none;
  border-bottom: 1px solid black;
  font-size: 12px;
}

.form-fields-third {
  padding-bottom: 40px;
  margin-bottom: 30px;
  width: 100%;
  background: transparent;
  border: none;
  border-bottom: 1px solid black;
  font-size: 12px;
}

footer {
  background-color: black;
  text-align: center;
  color: white;
  font-size: 11px;
  font-weight: 200;
}


.tiles-first {
  height: 1px;
  background-color: rgba(172, 166, 166, 0.5);
  width: 40px;
  float: right;
}

.tiles {
  height: 1px;
  background-color: #640707;
  width: 40px;
  float: right;

}

.swipe-tiles {
  padding-left: 40%;
  padding-right: 43%;
}

.chip {
  display: flex;
  width: 70%;
  justify-content: space-between;
  font-size: 13px;
  border-radius: 25px;
  border: 1px dotted rgb(189, 185, 185);
  background-color: white;
}

.chip-div {
  margin-top: 20px;
  width: 100%;
  display: flex;
  justify-content: center;
}

.chip-item {
  padding: 5px 35px;
  border-radius: 25px;
}

.chip>span:first-of-type {
  background-color: rgb(171, 47, 82);
  color: white;
}


@media screen and (max-width: 768px) {

  .elegant {
    background-repeat: no-repeat;
    background-size: 100% 100%;
  }

  .nav-link {
    display: none;
  }

  .nav-bar {
    padding: 0%;
    display: flex;
    justify-content: space-between;
  }

  .hamburger {
    display: inline;
    padding-top: 15px;
    padding-right: 20px;

  }


  .description {
    width: 100%;
    max-width: 100%;
    padding-right: 20px;
    padding-left: 20px;
    padding-top: 80px;
  }

  .nav-image {
    padding-right: 0%;
    padding: 5px 10px;
  }

  .description-heading {
    text-align: center;
  }

  .work {

    padding-right: 20px;
    padding-left: 20px;
    padding-bottom: 100px;
  }

  .work-description {
    padding: 0px;
    padding-bottom: 20px;
  }

  .swipe-tiles {
    padding-left: 30%;
    padding-right: 35%;
  }

  .conquer {
    display: flex;
    flex-direction: column;
    width: 100%;
  }

  .conquer-quote {
    width: 100%;
    font-size: 14px;
  }

  .about-image {
    width: 100%;
    float: none;
    padding-top: 40px;
    order: 3;
  }

  .conquer-description {
    width: 100%;
    order: 1;
  }

  .learn-button {
    order: 2;
    width: 120px;
  }

  .services {
    padding-right: 20px;
    padding-left: 20px;

  }

  .services1 {
    padding-right: 20px;
    padding-left: 20px;
    padding-bottom: 100px;
  }

  .service-tab {
    width: 100%;
  }

  .recent-work {
    padding-right: 20px;
    padding-left: 20px;
  }

  .chip-div {
    padding: 0;
  }

  .chip {
    padding: 0;
    margin-top: 20px;
    display: flex;
    justify-content: space-between;
    border-style: none;
    width: 100%;
  }

  .chip-item {
    padding: 5px 10px;
    border-radius: 0;
  }

  .chip>span:first-of-type {
    background-color: purple;
    color: white;
  }

  .images {
    width: 100%;
  }

  .review {
    padding: 50px 10px 30px 10px;
  }

  .review-content {
    padding-right: 10px;
    padding-left: 10px;
  }

  .review-description {
    padding: 15px 0px 15px 0px;
  }

  .contact {
    padding-right: 20px;
    padding-left: 20px;

  }

  .contact-description {
    display: flex;
    flex-direction: column;
    width: 100%;
  }

  .contact-form {
    float: none;
    width: 100%;
    order: 2;
  }

  .form-fields-first {
    width: 100%;
  }

  .contact-information {
    width: 100%;
    padding-top: 0px;
    order: 1;
  }

  .contact-card {
    padding-left: 2px;

  }

  .work-heading {
    font-size: 20px;
  }

  .tiles {
    width: 20px;

  }

  .tiles-first {
    width: 20px;
  }

  .swipe-tiles {
    padding-left: 0;
    padding-right: 40%;
  }

  .color {
    background-repeat: no-repeat;
    background-size: 100% 100%;
  }
}

@media only screen and (max-width: 1200px) and (min-width: 768px) {

  .elegant {
    background-repeat: no-repeat;
    background-size: 100% 100%;
  }

  .nav-link {
    display: none;
  }

  .nav-bar {
    padding: 0%;
    display: flex;
    justify-content: space-between;
  }

  .hamburger {
    display: inline;
    padding-top: 15px;
    padding-right: 20px;

  }

  .description {
    width: 100%;
    max-width: 80%;
    padding-right: 20px;
    padding-left: 20px;
    padding-top: 80px;
  }

  .nav-image {
    padding: 5px 0px;
    padding-right: 30%;
    padding-left: 10px;
  }

  .description-heading {
    text-align: center;
  }

  .work {

    padding-right: 20px;
    padding-left: 20px;
    padding-bottom: 100px;
  }

  .work-description {
    padding: 0px;
    padding-bottom: 20px;
  }

  .swipe-tiles {
    padding-left: 30%;
    padding-right: 35%;
  }

  .conquer {
    display: flex;
    flex-direction: column;
    width: 100%;
  }

  .conquer-quote {
    width: 100%;
    font-size: 14px;
  }

  .about-image {
    width: 100%;
    float: none;
    padding-top: 40px;
    order: 3;
  }

  .conquer-description {
    width: 100%;
    order: 1;
  }

  .learn-button {
    order: 2;
    width: 120px;
  }

  .services {
    padding-right: 20px;
    padding-left: 20px;

  }

  .services1 {
    padding-right: 20px;
    padding-left: 20px;
    padding-bottom: 100px;
  }

  .service-tab {
    width: 40%;
  }

  .recent-work {
    padding-right: 20px;
    padding-left: 20px;
  }

  .chip-div {
    padding: 0;
  }

  .chip {
    padding: 0;
    margin-top: 20px;
    display: flex;
    justify-content: space-between;
    border-style: none;
    width: 60%;
  }

  .chip-item {
    padding: 5px 10px;
    border-radius: 0;
  }

  .chip>span:first-of-type {
    background-color: purple;
    color: white;
  }

  .images {
    width: 50%;
  }

  .review {
    padding: 50px 10px 30px 10px;
  }

  .review-content {
    padding-right: 10px;
    padding-left: 10px;
  }

  .review-description {
    padding: 15px 0px 15px 0px;
  }

  .contact {
    padding-right: 20px;
    padding-left: 20px;

  }

  .work-heading {
    font-size: 20px;
  }

  .swipe-tiles {
    padding-left: 0;
    padding-right: 45%;
  }

  .color {
    background-repeat: no-repeat;
    background-size: 100% 100%;
  }
}
